.nav_brand {
     font-size: large;
}

.links_style {
     display: flex;
     justify-content: center;
     padding: 0;
     margin: 0;
}

.toolbar_menu {
     display: "flex";
     flex-direction: row;
     align-content: center;
     justify-content: space-between;
     flex-wrap: nowrap;
}

.liens {
     margin-left: 1vh;
     color: inherit;
     text-decoration: nones;
     font-size: 18px;
}
